/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body, html {
  height: 100%
}

.bgimg {
  background-image: url('rv.jpg');
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}

.logo {
  position: absolute;
  top: 10%;
  left: 50%;
  width: 400px;
  transform: translate(-50%, -60%);
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 160%;
}

.bottomleft {
  position: absolute;
  bottom: 0;
  left: 16px;
}

hr {
  margin: auto;
  width: 40%;
}

/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
